.header{
    height: 115px;
    font-size: 53px;
    font-weight: 700;
    background-color: #c8522f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 55px;
}

.logo{
    width: 100px;
    cursor: pointer;
}
